.AllQuestionDesign{

    max-height: 100%;
    max-width: 80%;
    text-align: center;
    padding-left: 20px;
    margin: 15px;
    border-radius: 20px;
    background-color: beige;
    border: 10px;
   
  
  }
   
  
  h1 {
      
      
      
    }
    p {
      
     
      
    }