.AllQuestionDesign{

    max-height: 100%;
    max-width: 80%;
    text-align: center;
    padding-left: 20px;
    margin: 15px;
    border-radius: 20px ;
    background-color: cornsilk;
    border: 10px;

   
  
}