.header {
    height: 80px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}
.line{
    color: #111111;
    ;
    padding-left: 60px;
    padding-right: 80px;
    color: rgb(233, 129, 10);
    
}



*{
    margin: 0;
}
.header-container{
width: 100%;

}
.right-header-container{
    display: flex;
    align-items: center;
    gap: 50px;  
}
a {
    font-weight: 700;
    text-decoration: inherit;
    color: black;
  }
a:hover{
    color: rgb(88, 87, 95);
}

@media only screen and (max-width: 576px) {
        .header-container{
            justify-content: space-between;
            width: 100%;
        }  
  }
