.blog-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-left: 80px;
    padding-right: 80px;
}
.spent{
    margin: 5px;
    padding: 10px;
    background-color:  aliceblue;
   
}
.bookmark{
    background-color: aliceblue;
}